<app-navbar></app-navbar>
<!--The content below is only a placeholder and can be replaced.-->
<div class="main-container">
    <!-- Profile background large image -->
    <!-- TODO: Make this the profile picture of the user -->
    <div class="row profile-background" style="background-image: url()">
        <div class="container">
            <!-- User main avatar -->
            <div class="avatar-container">
                <!-- TODO: Make this the profile picture of the user -->
                <img class="avatar" [src]="(user | async)?.avatar" onerror="this.src='https://en.gravatar.com/userimage/155883735/f61270db7a03be084dcfa712f19388a7.png?size=200'">
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar profile-stats">
        <div class="container">
            <div class="row">
                <div class="col">

                </div>
                <div class="col-6">
                    <ul>
                        <li class="profile-stats-item-active">
                            <a>
                                <span class="profile-stats-item profile-stats-item-label">Tweets</span>
                                <span class="profile-stats-item profile-stats-item-number">{{(tweets | async)?.length}}</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="profile-stats-item profile-stats-item-label">Following</span>
                                <span class="profile-stats-item profile-stats-item-number">{{(user | async)?.following.length}}</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                <span class="profile-stats-item profile-stats-item-label">Followers</span>
                                <span class="profile-stats-item profile-stats-item-number">{{(user | async)?.followers.length}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
    </nav>
    <div class="container main-content">
        <div class="row">
            <div class="col-12">
                <alert></alert>
            </div>
        </div>
        <div class="row">
            <div class="col profile-col">
                <!-- Left column -->
                <div class="profile-header">
                    <app-follow [toFollow]="(user | async).id" [me]="loggedIn.id"></app-follow>
                    <app-unfollow [toUnFollow]="(user | async).id" [me]="loggedIn.id"></app-unfollow>
                    <hr>
                    <!-- Header information -->
                    <h3 class="profile-fullname">{{(user | async)?.username}}</h3>
                    <h2 class="profile-element"><a>@{{(user | async)?.username}}</a></h2>
                    <a class="profile-element profile-website" hrerf=""><i class="octicon octicon-link"></i>&nbsp;{{(user | async)?.website}}</a>
                    <a class="profile-element profile-website" hrerf=""><i class="octicon octicon-location"></i>{{ address }}</a>
                    <h2 class="profile-element"><i class="octicon octicon-mail"></i>{{(user | async)?.email}}</h2>

                    <!-- End: image grid -->
                </div>
            </div>
            <!-- End; Left column -->
            <!-- Center content column -->
            <div class="col-6">
                <ol class="tweet-list">
                    <app-tweet *ngFor="let t of tweets | async" [tweet]="t"></app-tweet>
                </ol>
                <!-- End: tweet list -->
            </div>
            <!-- End: Center content column -->
            <div class="col right-col">
                <div class="content-panel">
                    <div class="panel-header">
                        <h4>Who to follow</h4><small><a href="">Refresh</a></small><small><a href="">View all</a></small>
                    </div>
                    <!-- Who to Follow panel -->
                    <div class="panel-content">
                        <!--Follow list -->
                        <ol class="tweet-list">
                            <li class="tweet-card" *ngFor="let f of followers | slice: 0:3">
                                <div class="tweet-content">
                                    <!-- TODO: Make this the profile picture of the user -->
                                    <img class="tweet-card-avatar" [src]="(f | async)?.avatar" onerror="this.src='https://en.gravatar.com/userimage/155883735/f61270db7a03be084dcfa712f19388a7.png?size=200'">
                                    <div class="tweet-header">
                                    <span class="fullname">
                                      <strong>{{f.username}}</strong>
                                    </span>
                                        <span class="username">@{{f.username}}</span>
                                    </div>

                                    <a [href]="f.id" class="btn btn-follow">Follow</a>
                                </div>
                            </li>
                        </ol>
                        <!--END: Follow list -->
                    </div>
                </div>
            </div>
        </div>
    </div>
